<!DOCTYPE html>
<html>
<head>
	<title>Bus Booking</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
	<style>
	body{
		margin: 0px !important;
	}
	.header{
		height: 70px;
		background-color: #76b1fd;
	}
	.logo{
		color: white;
		font-size: 30px;
		font-weight: 700;
		margin-left: 25px;
	}
	.flex-row{
		display: flex;
		flex-direction: row;
	}
	.logo-container{
		justify-content: flex-start;
		align-items: center;
		height: 70px;
	}
	.user-icon-container{
		justify-content: flex-end;
		align-items: center;
		height: 70px;
	}
	.user-icon{
		margin-right: 25px;
		color: white;
		font-size: 20px;
		font-weight: 200;
		cursor: pointer;
	}
	.details-body{
		height: 100vh;
		background-color: #dadada;
	}
	.details-card{
		background-color: #fff;
		border-radius: 10px;
		margin-top: 20px;
		height: 200px;
	}
	.flex-col{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 200px;
	}
	</style>
</head>
<body>
	<div class="header">
		<div class="row">
			<div class="col-md-6 flex-row logo-container">
				<p class="logo">LOGO</p>
			</div>
			<div class="col-md-6 flex-row user-icon-container">
				<p class="user-icon" data-toggle="modal" data-target="#myModal">User Options</p>
			</div>
		</div>
	</div>
	<div class="details-body">
		<div class="details-card col-md-10 col-md-push-1 col-md-pull-1">
			<div class="col-md-6 flex-col">
			<span> <strong> Bus Number </strong> {{book.bus_id}} </span> <br>
				<!-- Booked Seats {{book.booked_seats}}<br> -->
			<span>	<strong> Available seats </strong> {{book.available_seats}} </span>
			</div>
			<div class="col-md-6 flex-col">
				<form method="POST" , action={% url  'booking' book.bus_id %}>
					{% csrf_token %}
					<label>Selected Number of Seats</label>
					<input class="form-control" type="number" name="seats" min="0" max="5">
					<button class="btn btn-info" type="submit" style="margin-top:10px">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
