<!DOCTYPE html>
<html>
    <head>
        <title>search results</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
        <style>
        .header{
            height: 70px;
            background-color: #76b1fd;
        }
        .logo{
            color: white;
            font-size: 30px;
            font-weight: 700;
            margin-left: 25px;
        }
        .flex-row{
            display: flex;
            flex-direction: row;
        }
        .logo-container{
            justify-content: flex-start;
            align-items: center;
            height: 70px;
        }
        .user-icon-container{
            justify-content: flex-end;
            align-items: center;
            height: 70px;
        }
        .user-icon{
            margin-right: 25px;
            color: white;
            font-size: 20px;
            font-weight: 200;
            cursor: pointer;
        }
        .flex-col{
            display: flex;
            flex-direction: column;
        }
        .details-card-container{
            background-color: #dadada;
            height: 90vh;
            padding-top: 15px;
        }
        .details-card{
            background-color: white;
            border-radius: 10px;
        }
        #page-heading{
            text-align: center;
        }
        input{
            border: none;
            border-bottom: 1px solid black;
            margin-left: 10px;
            width: 50%;
        }
        input,label{
            margin-top: 10px;
        }
        label{
            font-weight: 200;
        }
        .center{
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .row-center{
            justify-content: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        </style>
    </head>
    <body>
        <div class="header">
            <div class="row">
                <div class="col-md-6 flex-row logo-container">
                    <p class="logo">LOGO</p>
                </div>
                <div class="col-md-6 flex-row user-icon-container">
                    <p class="user-icon" data-toggle="modal" data-target="#myModal">User Options</p>
                </div>
            </div>
        </div>
        <div class="details-card-container">
            <div class="details-card col-md-10 col-md-push-1 col-md-pull-1">
                <h3 id="page-heading"> Passenger Details </h3>
                <form action="" method="">
                    <div class="col-md-6 flex-col center">
                        <label for="name">Name</label>
                        <input id="name" name="name" type="text" required>
                        <label for="tel">Phone</label>
                        <input id="mob" name="tel" type="tel" required>
                    </div>
                    <div class="col-md-6 flex-col center">
                        <input id="email" type="hidden" name="email_customer" required>
                        <label for="add">Address</label>
                        <input id="address" name="add" type="text" required>
						<input id="booked_seats" type="hidden" value="{{booked_seat}}">
						<input id="bus_id" type="hidden" value="{{bus_id}}">
                    </div>
                    <div class="col-md-12 flex-row row-center">
                        <button class="btn btn-info" type="submit">Proceed to Payment </button>
                    </div>
                </form>
            </div>
        </div>
		<script>
			var name = $("#name").val();
			var mob = $("#mob").val();
			var address = $("#address").val();
			var booked_seat = $("#booked_seats").val();
			var bus_id = $("#bus_id").val();
            var config = {
              apiKey: "AIzaSyBntxi2vDx-G-z04bhq-1SCuTWioxOhM4A",
              authDomain: "finalchat-d02da.firebaseapp.com",
              databaseURL: "https://finalchat-d02da.firebaseio.com",
              projectId: "finalchat-d02da",
              storageBucket: "",
              messagingSenderId: "987155693385"
            };
            firebase.initializeApp(config);
            var database = firebase.database();
            var ref = database.ref("chat");
            // ref.on('value',gotData,errData);
            firebase.auth().onAuthStateChanged(function(user) {
              if (user) {
                  $("#email").val(user.email)
                  console.log(user.email);
                // User is signed in.
              } else {
                  console.log("err");
                // No user is signed in.
              }
          });
			$("form").submit(function(event){
				event.preventDefault();
				$.ajax({
					url: "http://5ad87033dc1baa0014c60b26.mockapi.io/custdata",
					method: "POST",
					data: {
						"bus_id":bus_id,
						"username": $("#email").val(),
						"booked_seats": booked_seat
					},
					success:function(status,data){
						window.location = '/search';
					},
					onerror:function(err){
						console.log(err);
					}
				});
			});
		</script>
    </body>
</html>
