<!DOCTYPE html>
<html>
<head>
	<title>search results</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
	<style>
	.header{
		height: 70px;
		background-color: #76b1fd;
	}
	.logo{
		color: white;
		font-size: 30px;
		font-weight: 700;
		margin-left: 25px;
	}
	.flex-row{
		display: flex;
		flex-direction: row;
	}
	.logo-container{
		justify-content: flex-start;
		align-items: center;
		height: 70px;
	}
	.user-icon-container{
		justify-content: flex-end;
		align-items: center;
		height: 70px;
	}
	.user-icon{
		margin-right: 25px;
		color: white;
		font-size: 20px;
		font-weight: 200;
		cursor: pointer;
	}
	.result-body{
		background-color: #dadada;
		height: 100vh;
	}
	.result-card{
		height: 200px;
		background-color: white;
		border-radius: 10px;
		margin-top: 15px;
	}
	.flex-col{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 200px;
	}
	</style>
</head>
<body>
	<div class="header">
		<div class="row">
			<div class="col-md-6 flex-row logo-container">
				<p class="logo">LOGO</p>
			</div>
			<div class="col-md-6 flex-row user-icon-container">
				<p class="user-icon" data-toggle="modal" data-target="#myModal">User Options</p>
			</div>
		</div>
	</div>
	<div class="result-body">
		{% for bus in buses %}
		<div class="result-card col-md-10 col-md-push-1 col-md-pull-1">
			<div class="col-md-3">
			</div>
			<div class="col-md-3 flex-col">
				<p> Source:<span> {{ bus.source }} </span> </p>
				<p> Destination:<span> {{ bus.destination }} </span> </p>
			</div>
			<div class="col-md-3 flex-col">
				<p> Arrival:<span> {{ bus.arrival }} </span> </p>
				<p> Departure:<span> {{ bus.departure }} </span> </p>
			</div>
			<div class="col-md-3 flex-col">
				<a href={% url 'booking' bus.bus_id %}><button class="btn btn-info" type="submit">Book Now</button></a>
			</div>
		</div>
		{% endfor %}
	</div>
</body>
	<!-- {% for bus in buses %}
		<a href={% url 'booking' bus.bus_id %}>{{ bus.bus_id }}</a><br>
		{{ bus.source }}<br>
		{{ bus.destination }}<br>
		{{ bus.arrival }}<br>
		{{ bus.departure }}
	{% endfor %} -->
</html>
