<!DOCTYPE html>
<html>
<head>
	<style>
	.header{
		height: 70px;
		background-color: #76b1fd;
	}
	.logo{
		color: white;
		font-size: 30px;
		font-weight: 700;
		margin-left: 25px;
	}
	.flex-row{
		display: flex;
		flex-direction: row;
	}
	.logo-container{
		justify-content: flex-start;
		align-items: center;
		height: 70px;
	}
	.user-icon-container{
		justify-content: flex-end;
		align-items: center;
		height: 70px;
	}
	.user-icon{
		margin-right: 25px;
		color: white;
		font-size: 20px;
		font-weight: 200;
		cursor: pointer;
	}
	.search-form-container{
		height: 80vh;
		background-color: grey;
		justify-content: center;
		align-items: center;
	}
	.right-border{
		border-right: 1px solid grey;
	}
	#sign-up-form input{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	#login-form input{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
	<title>Search</title>
</head>
<body>
	<div class="header">
		<div class="row">
			<div class="col-md-6 flex-row logo-container">
				<p class="logo">LOGO</p>
			</div>
			<div class="col-md-6 flex-row user-icon-container">
				<p id="logout" class="user-icon" onclick="logout()">Logout</p>
				<p  id="yourtickets" class="user-icon" onclick="redirect()">Your Tickets</p>
				<p id="user-details" class="user-icon" data-toggle="modal" data-target="#myModal">User Options</p>
			</div>
		</div>
	</div>
		<div class="row search-form-container flex-row">
			<form method="post" action='/search/'>
			{% csrf_token %}
				<div class="col-md-3">
					<input id="from" name="source" class="form-control" type="text" placeholder="From" required>
				</div>
				<div class="col-md-3">
					<input id="to" name="destination" class="form-control" type="text" placeholder="To" required>
				</div>
				<div class="col-md-3">
					<input id="onward" class="form-control" type="date" placeholder="Onward Date" required>
				</div>
				<div class="col-md-3">
					<input id="return" class="form-control" type="date" placeholder="Return Date">
				</div>
				<div class="col-md-12 flex-row" style="justify-content:center;padding-top:25px">
					<button id="search-button" type="submit" class="btn btn-success">Search</button>
				</div>
			</form>
		<div>
	</div>
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-body">
			<div class="row">
				<div class="col-md-6 right-border">
					<div id="sign-up-form" action="" method="POST">
						<input id="signup-email" value="email" type="email" class="form-control" placeholder="Email" required>
						<input id="signup-pwd" type="password" class="form-control" placeholder="password" required>
						<button id="sign-up" type="submit" class="btn btn-info">Sign Up</button>
					</div>
				</div>
				<div class="col-md-6">
					<div id="login-form" action="" method="POST">
						<input id="login-email" type="email" class="form-control" placeholder="Email" required>
						<input id="login-pwd" type="password" class="form-control" placeholder="password" required>
						<button id="login" type="submit" class="btn btn-info" onclick="loginClick()">Login</button>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<script>
		// Initialize Firebase
		var config = {
		  apiKey: "AIzaSyBntxi2vDx-G-z04bhq-1SCuTWioxOhM4A",
		  authDomain: "finalchat-d02da.firebaseapp.com",
		  databaseURL: "https://finalchat-d02da.firebaseio.com",
		  projectId: "finalchat-d02da",
		  storageBucket: "",
		  messagingSenderId: "987155693385"
		};
		firebase.initializeApp(config);
		var database = firebase.database();
		var ref = database.ref("chat");

		function logout(){
			firebase.auth().signOut();
		}

		function loginClick(){
        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION)
          .then(function() {
              var email = $("#login-email").val();
              var password = $("#login-pwd").val();
              firebase.auth().signInWithEmailAndPassword(email, password);
          })
          .catch(function(error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
          });
        }
		firebase.auth().onAuthStateChanged(function(user) {
		  if (user) {
			  $("#yourtickets").show();
			  console.log(user.email);
			  $("#user-details").hide();
			  $("#logout").show();
			// User is signed in.
		  } else {
			  console.log("err");
			  $("#yourtickets").hide();
			  $("#logout").hide();
			  $("#user-details").show();
			// No user is signed in.
		  }
		})

		$(document).ready(function(){
			$("#sign-up").on("click",function(event){
				event.preventDefault();
				var signup_email = $("#signup-email").val();
				var signup_pwd = $("#signup-pwd").val();
				const auth = firebase.auth();
				const promise = auth.createUserWithEmailAndPassword(signup_email,signup_pwd);
				promise
				.then(function(){
					//add here incase
					console.log("check");
				})
				.catch(e => console.log(e.message));
			});
		});

		function redirect(){
			window.location = '/yourtickets'
		}
	</script>

</body>
</html>
